apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cat-watcher-data
  namespace: cat-watcher
  labels:
    app.kubernetes.io/name: cat-watcher
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cat-watcher-models
  namespace: cat-watcher
  labels:
    app.kubernetes.io/name: cat-watcher
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
